MedNote.Database/MedNote.Database.dbmdl
MedNote.Database/MedNote.Database.jfm
.vs/
#.vs/MedNote/v15/Server/sqlite3/db.lock
#.vs/MedNote/v15/Server/sqlite3/storage.ide
#.vs/MedNote/v15/Server/sqlite3/storage.ide-shm
#.vs/MedNote/v15/Server/sqlite3/storage.ide-wal
#.vs/MedNote/v15/sqlite3/db.lock
#.vs/MedNote/v15/sqlite3/storage.ide-shm
#.vs/MedNote/v15/sqlite3/storage.ide-wal
UpgradeLog.htm
UpgradeLog2.htm
MedNote.API/bin/*
MedNote.API/obj/Release/*
MedNote.API/obj/Debug/*
MedNote.BackOffice/bin/*
MedNote.BackOffice/obj/Release/*
MedNote.BackOffice/obj/Debug/*
MedNote.Database/bin/*
MedNote.Database/obj/Release/*
MedNote.Database/obj/Debug/*
MedNote.Dominio/bin/*
MedNote.Dominio/obj/Release/*
MedNote.Dominio/obj/Debug/*
MedNote.Infra/bin/*
MedNote.Infra/obj/Release/*
MedNote.Infra/obj/Debug/*
MedNote.Persistencia/bin/*
MedNote.Persistencia/obj/Release/*
MedNote.Persistencia/obj/Debug/*
MedNote.Repositorios/bin/*
MedNote.Repositorios/obj/Release/*
MedNote.Repositorios/obj/Debug/*
Globalsys/bin/*
Globalsys/obj/Release/*
Globalsys/obj/Debug/*
MedNote.API/bin/pt-br/Microsoft.VisualStudio.Data.Core.resources.dll
MedNote.API/bin/pt-br/Microsoft.VisualStudio.Data.Services.resources.dll
Globalsys/obj/Debug/Globalsys.csprojResolveAssemblyReference.cache
MedNote.API/bin/ApplicationInsights.config
MedNote.API/bin/MedNote.API.dll.config
MedNote.API/bin/MedNote.Dominio.dll.config
MedNote.API/bin/MedNote.Infra.dll.config
MedNote.API/bin/MedNote.Persistencia.dll.config
MedNote.API/bin/MedNote.Repositorios.dll.config
MedNote.API/bin/EntityFramework.SqlServer.xml
MedNote.API/bin/EntityFramework.xml
MedNote.API/bin/FluentNHibernate.xml
MedNote.API/bin/Globalsys.dll.config
MedNote.API/bin/Iesi.Collections.xml
MedNote.API/bin/Microsoft.AI.DependencyCollector.xml
MedNote.API/bin/Microsoft.AI.ServerTelemetryChannel.xml
MedNote.API/bin/Microsoft.AI.Web.xml
MedNote.API/bin/Microsoft.AI.WindowsServer.xml
MedNote.API/bin/Microsoft.ApplicationInsights.xml
MedNote.API/bin/Microsoft.AspNet.Identity.Core.xml
MedNote.API/bin/Microsoft.AspNet.Identity.EntityFramework.xml
MedNote.API/bin/Microsoft.AspNet.Identity.Owin.xml
MedNote.API/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
MedNote.API/bin/Microsoft.Owin.Cors.xml
MedNote.API/bin/Microsoft.Owin.Host.SystemWeb.xml
MedNote.API/bin/Microsoft.Owin.Security.Cookies.xml
MedNote.API/bin/Microsoft.Owin.Security.OAuth.xml
MedNote.API/bin/Microsoft.Owin.Security.xml
MedNote.API/bin/Microsoft.Owin.xml
MedNote.API/bin/NHibernate.xml
MedNote.API/bin/Newtonsoft.Json.xml
MedNote.API/bin/Ninject.xml
MedNote.API/bin/Reports/ReportBalancoDeMateriais.rdlc
MedNote.API/bin/Reports/ReportControleDeMateriaisDoAlmoxarifado.rdlc
MedNote.API/bin/Reports/ReportCotaDeMateriais.rdlc
MedNote.API/bin/Reports/ReportEtiquetaMaterial.rdlc
MedNote.API/bin/Reports/ReportHistoricoDeLiberacaoEBaixa.rdlc
MedNote.API/bin/Reports/ReportSaldoDeMateriaisPorEletricista.rdlc
MedNote.API/bin/Reports/ReportTabelaDeArmazenamento.rdlc
MedNote.API/bin/Reports/SolicitacaoReport.rdlc
MedNote.API/bin/System.Net.Http.Formatting.xml
MedNote.API/bin/System.Web.Helpers.xml
MedNote.API/bin/System.Web.Http.Owin.xml
MedNote.API/bin/System.Web.Http.WebHost.xml
MedNote.API/bin/System.Web.Http.xml
MedNote.API/bin/System.Web.Mvc.xml
MedNote.API/bin/System.Web.Optimization.xml
MedNote.API/bin/System.Web.Razor.xml
MedNote.API/bin/System.Web.WebPages.Deployment.xml
MedNote.API/bin/System.Web.WebPages.Razor.xml
MedNote.API/bin/System.Web.WebPages.xml
MedNote.API/bin/roslyn/Microsoft.CSharp.Core.targets
MedNote.API/bin/roslyn/Microsoft.VisualBasic.Core.targets
MedNote.API/bin/roslyn/VBCSCompiler.exe.config
MedNote.API/bin/roslyn/csc.exe.config
MedNote.API/bin/roslyn/csc.rsp
MedNote.API/bin/roslyn/csi.exe.config
MedNote.API/bin/roslyn/csi.rsp
MedNote.API/bin/roslyn/vbc.exe.config
MedNote.API/bin/roslyn/vbc.rsp
MedNote.API/obj/*
MedNote.API/obj/Debug/MedNote.API.Migrations.InitialCreate.resources
MedNote.API/obj/Debug/MedNote.API.csproj.CopyComplete
MedNote.API/obj/Debug/MedNote.API.csproj.FileListAbsolute.txt
MedNote.Dominio/bin/Debug/MedNote.Dominio.dll.config
MedNote.Dominio/bin/Debug/Globalsys.dll.config
MedNote.Dominio/bin/Debug/Ninject.xml
MedNote.Dominio/bin/Debug/System.Web.Mvc.xml
MedNote.Dominio/bin/Debug/System.Web.Razor.xml
MedNote.Dominio/bin/Debug/System.Web.WebPages.Deployment.xml
MedNote.Dominio/bin/Debug/System.Web.WebPages.Razor.xml
MedNote.Dominio/bin/Debug/System.Web.WebPages.xml
MedNote.Dominio/obj/*
MedNote.Dominio/obj/Debug/MedNote.Dominio.csproj.CopyComplete
MedNote.Dominio/obj/Debug/MedNote.Dominio.csproj.FileListAbsolute.txt
MedNote.Infra/bin/Debug/MedNote.Dominio.dll.config
MedNote.Infra/bin/Debug/MedNote.Infra.dll.config
MedNote.Infra/bin/Debug/MedNote.Persistencia.dll.config
MedNote.Infra/bin/Debug/MedNote.Repositorios.dll.config
MedNote.Infra/bin/Debug/FluentNHibernate.xml
MedNote.Infra/bin/Debug/Globalsys.dll.config
MedNote.Infra/bin/Debug/Iesi.Collections.xml
MedNote.Infra/bin/Debug/NHibernate.xml
MedNote.Infra/bin/Debug/Ninject.xml
MedNote.Infra/bin/Debug/System.Web.Mvc.xml
MedNote.Infra/bin/Debug/System.Web.Razor.xml
MedNote.Infra/bin/Debug/System.Web.WebPages.Deployment.xml
MedNote.Infra/bin/Debug/System.Web.WebPages.Razor.xml
MedNote.Infra/bin/Debug/System.Web.WebPages.xml
MedNote.Infra/obj/*
MedNote.Infra/obj/Debug/MedNote.Infra.csproj.CopyComplete
MedNote.Infra/obj/Debug/MedNote.Infra.csproj.FileListAbsolute.txt
MedNote.Persistencia/bin/Debug/MedNote.Dominio.dll.config
MedNote.Persistencia/bin/Debug/MedNote.Persistencia.dll.config
MedNote.Persistencia/bin/Debug/MedNote.Repositorios.dll.config
MedNote.Persistencia/bin/Debug/FluentNHibernate.xml
MedNote.Persistencia/bin/Debug/Globalsys.dll.config
MedNote.Persistencia/bin/Debug/Iesi.Collections.xml
MedNote.Persistencia/bin/Debug/NHibernate.xml
MedNote.Persistencia/bin/Debug/Ninject.xml
/MedNote.Persistencia/bin/Debug/System.Web.Mvc.xml
MedNote.Persistencia/bin/Debug/System.Web.Razor.xml
MedNote.Persistencia/bin/Debug/System.Web.WebPages.Deployment.xml
MedNote.Persistencia/bin/Debug/System.Web.WebPages.Razor.xml
MedNote.Persistencia/bin/Debug/System.Web.WebPages.xml
MedNote.Persistencia/obj/*
MedNote.Persistencia/obj/Debug/MedNote.Persistencia.csproj.CopyComplete
MedNote.Persistencia/obj/Debug/MedNote.Persistencia.csproj.FileListAbsolute.txt
MedNote.Repositorios/bin/Debug/MedNote.Dominio.dll.config
MedNote.Repositorios/bin/Debug/MedNote.Repositorios.dll.config
MedNote.Repositorios/bin/Debug/FluentNHibernate.xml
MedNote.Repositorios/bin/Debug/Iesi.Collections.xml
MedNote.Repositorios/bin/Debug/NHibernate.xml
MedNote.Repositorios/bin/Debug/Ninject.xml
MedNote.Repositorios/obj/*
MedNote.Repositorios/obj/Debug/MedNote.Repositorios.csproj.CopyComplete
MedNote.Repositorios/obj/Debug/MedNote.Repositorios.csproj.FileListAbsolute.txt
Globalsys/bin/*
Globalsys/bin/Debug/Globalsys.dll.config
Globalsys/bin/Debug/Ninject.Web.Common.xml
Globalsys/bin/Debug/Ninject.xml
Globalsys/bin/Debug/System.Web.Helpers.xml
Globalsys/bin/Debug/System.Web.Http.xml
Globalsys/bin/Debug/System.Web.Mvc.xml
Globalsys/bin/Debug/System.Web.Razor.xml
Globalsys/bin/Debug/System.Web.WebPages.Deployment.xml
Globalsys/bin/Debug/System.Web.WebPages.Razor.xml
Globalsys/bin/Debug/System.Web.WebPages.xml
Globalsys/obj/*
Globalsys/obj/Debug/Globalsys.csproj.CopyComplete
Globalsys/obj/Debug/Globalsys.csproj.FileListAbsolute.txt
Globalsys/bin/Release/Globalsys.dll.config
Globalsys/bin/Release/Ninject.Web.Common.xml
Globalsys/bin/Release/Ninject.xml
Globalsys/bin/Release/System.Web.Helpers.xml
Globalsys/bin/Release/System.Web.Http.xml
Globalsys/bin/Release/System.Web.Mvc.xml
Globalsys/bin/Release/System.Web.Razor.xml
Globalsys/bin/Release/System.Web.WebPages.Deployment.xml
Globalsys/bin/Release/System.Web.WebPages.Razor.xml
Globalsys/bin/Release/System.Web.WebPages.xml
Globalsys/obj/Release/Globalsys.csproj.CopyComplete
Globalsys/obj/Release/Globalsys.csproj.FileListAbsolute.txt
