<!-- START Off Sidebar (right)-->
<style>
    /*
    * Component: Control sidebar. By default, this is the right sidebar.
    */
    .control-sidebar-bg {
        position: fixed !important;
        z-index: 1000 !important;
        bottom: 0 !important;
    }

    .control-sidebar-bg,
    .control-sidebar {
        top: 0 !important;
        right: -230px !important;
        width: 230px !important;
        -webkit-transition: right 0.3s ease-in-out !important;
        -o-transition: right 0.3s ease-in-out !important;
        transition: right 0.3s ease-in-out !important;
    }

    .control-sidebar {
        position: absolute !important;
        padding-top: 50px !important;
        z-index: 1010 !important;
    }

    @media (max-width: 768px) {
        .control-sidebar {
            padding-top: 100px !important;
        }
    }

    .control-sidebar > .tab-content {
        padding: 10px 15px !important;
    }

    .control-sidebar.control-sidebar-open,
    .control-sidebar.control-sidebar-open + .control-sidebar-bg {
        right: 0 !important;
    }

    .control-sidebar-open .control-sidebar-bg,
    .control-sidebar-open .control-sidebar {
        right: 0 !important;
    }

    @media (min-width: 768px) {
        .control-sidebar-open .content-wrapper,
        .control-sidebar-open .right-side,
        .control-sidebar-open .main-footer {
            margin-right: 230px !important;
        }
    }

    .nav-tabs.control-sidebar-tabs > li:first-of-type > a,
    .nav-tabs.control-sidebar-tabs > li:first-of-type > a:hover,
    .nav-tabs.control-sidebar-tabs > li:first-of-type > a:focus {
        border-left-width: 0 !important;
        text-decoration: none !important;
    }

    .nav-tabs.control-sidebar-tabs > li > a {
        border-radius: 0 !important;
    }

        .nav-tabs.control-sidebar-tabs > li > a,
        .nav-tabs.control-sidebar-tabs > li > a:hover {
            border-top: none !important;
            border-right: none !important;
            border-left: 1px solid transparent !important;
            border-bottom: 1px solid transparent !important;
            text-decoration: none !important;
        }

            .nav-tabs.control-sidebar-tabs > li > a .icon {
                font-size: 16px !important;
            }

    .nav-tabs.control-sidebar-tabs > li.active > a,
    .nav-tabs.control-sidebar-tabs > li.active > a:hover,
    .nav-tabs.control-sidebar-tabs > li.active > a:focus,
    .nav-tabs.control-sidebar-tabs > li.active > a:active {
        border-top: none !important;
        border-right: none !important;
        border-bottom: none !important;
        text-decoration: none !important;
    }

    @media (max-width: 768px) {
        .nav-tabs.control-sidebar-tabs {
            display: table !important;
        }

            .nav-tabs.control-sidebar-tabs > li {
                display: table-cell !important;
            }
    }

    .control-sidebar-heading {
        font-weight: 400 !important;
        font-size: 16px !important;
        padding: 10px 0 !important;
        margin-bottom: 10px !important;
    }

    .control-sidebar-subheading {
        display: block !important;
        font-weight: 400 !important;
        font-size: 14px !important;
    }

    .control-sidebar-menu {
        list-style: none !important;
        padding: 0 !important;
        margin: 0 -15px !important;
    }

        .control-sidebar-menu > li > a {
            display: block !important;
            padding: 10px 25px !important;
        }

            .control-sidebar-menu > li > a:before,
            .control-sidebar-menu > li > a:after {
                content: " " !important;
                display: table !important;
            }

            .control-sidebar-menu > li > a:after {
                clear: both !important;
            }

            .control-sidebar-menu > li > a > .control-sidebar-subheading {
                margin-top: 0 !important;
            }

        .control-sidebar-menu .menu-icon {
            float: left !important;
            width: 35px !important;
            height: 35px !important;
            border-radius: 50% !important;
            text-align: center !important;
            line-height: 35px !important;
        }

        .control-sidebar-menu .menu-info {
            margin-left: 45px !important;
            margin-top: 3px !important;
        }

            .control-sidebar-menu .menu-info > .control-sidebar-subheading {
                margin: 0 !important;
            }

            .control-sidebar-menu .menu-info > p {
                margin: 0 !important;
                font-size: 11px !important;
            }

        .control-sidebar-menu .progress {
            margin: 0 !important;
        }

    .control-sidebar-dark {
        color: #b8c7ce !important;
    }

        .control-sidebar-dark,
        .control-sidebar-dark + .control-sidebar-bg {
            background-color: #222d32 !important;
        }

            .control-sidebar-dark .nav-tabs.control-sidebar-tabs {
                border-bottom: #1c2529 !important;
            }

                .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li > a {
                    background-color: #181f23 !important;
                    color: #b8c7ce !important;
                }

                    .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li > a,
                    .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li > a:hover,
                    .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li > a:focus {
                        border-left-color: #141a1d !important;
                        border-bottom-color: #141a1d !important;
                        text-decoration: none !important;
                    }

                        .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li > a:hover,
                        .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li > a:focus,
                        .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li > a:active {
                            background-color: #1c2529 !important;
                            text-decoration: none !important;
                        }

                        .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li > a:hover {
                            color: #fff !important;
                            text-decoration: none !important;
                        }

                .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a,
                .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a:hover,
                .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a:focus,
                .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a:active {
                    background-color: #222d32 !important;
                    color: #fff !important;
                    text-decoration: none !important;
                }

            .control-sidebar-dark .control-sidebar-heading,
            .control-sidebar-dark .control-sidebar-subheading {
                color: #fff !important;
            }

            .control-sidebar-dark .control-sidebar-menu > li > a:hover {
                background-color: #1e282c !important;
                text-decoration: none !important;
            }

            .control-sidebar-dark .control-sidebar-menu > li > a .menu-info > p {
                color: #b8c7ce !important;
            }

    .control-sidebar-light {
        color: #5e5e5e !important;
    }

        .control-sidebar-light,
        .control-sidebar-light + .control-sidebar-bg {
            background-color: #f9fafc !important;
            border-left: 1px solid #d2d6de !important;
        }

            .control-sidebar-light .nav-tabs.control-sidebar-tabs {
                border-bottom: #d2d6de !important;
            }

                .control-sidebar-light .nav-tabs.control-sidebar-tabs > li > a {
                    background-color: #e8ecf4 !important;
                    color: #444444 !important;
                }

                    .control-sidebar-light .nav-tabs.control-sidebar-tabs > li > a,
                    .control-sidebar-light .nav-tabs.control-sidebar-tabs > li > a:hover,
                    .control-sidebar-light .nav-tabs.control-sidebar-tabs > li > a:focus {
                        border-left-color: #d2d6de !important;
                        border-bottom-color: #d2d6de !important;
                        text-decoration: none !important;
                    }

                        .control-sidebar-light .nav-tabs.control-sidebar-tabs > li > a:hover,
                        .control-sidebar-light .nav-tabs.control-sidebar-tabs > li > a:focus,
                        .control-sidebar-light .nav-tabs.control-sidebar-tabs > li > a:active {
                            background-color: #eff1f7 !important;
                            text-decoration: none !important;
                        }

                .control-sidebar-light .nav-tabs.control-sidebar-tabs > li.active > a,
                .control-sidebar-light .nav-tabs.control-sidebar-tabs > li.active > a:hover,
                .control-sidebar-light .nav-tabs.control-sidebar-tabs > li.active > a:focus,
                .control-sidebar-light .nav-tabs.control-sidebar-tabs > li.active > a:active {
                    background-color: #f9fafc !important;
                    color: #111 !important;
                }

            .control-sidebar-light .control-sidebar-heading,
            .control-sidebar-light .control-sidebar-subheading {
                color: #111 !important;
            }

            .control-sidebar-light .control-sidebar-menu {
                margin-left: -14px !important;
            }

                .control-sidebar-light .control-sidebar-menu > li > a:hover {
                    background-color: #f4f4f5 !important;
                    text-decoration: none !important;
                }

                .control-sidebar-light .control-sidebar-menu > li > a .menu-info > p {
                    color: #5e5e5e !important;
                }
</style>
<div class="control-sidebar-dark">
    <div class="tab-pane">
        <ul class="control-sidebar-menu">
            <li>
                <a ng-controller="usuarioController" ng-click="meusDados()">
                    <i class="menu-icon fa icon-user bg-green-light"></i>
                    <div class="menu-info">
                        <h4 class="control-sidebar-subheading">Meus Dados</h4>
                        <p>Obter informações</p>
                    </div>
                </a>
            </li>
            <li>
                <a ng-controller="trocarSenhaController" ng-click="showModal()">
                    <i class="menu-icon icon-user bg-green-light"></i>
                    <div class="menu-info">
                        <h4 class="control-sidebar-subheading">Trocar Senha</h4>
                        <p>Clique aqui para trocar sua senha</p>
                    </div>
                </a>
            </li>
            <li>
                <a ng-controller="sobreController" ng-click="showModal()">
                    <i class="menu-icon icon-user bg-green-light"></i>
                    <div class="menu-info">
                        <h4 class="control-sidebar-subheading">Sobre</h4>
                        <p>Sobre</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" ng-controller="loginController" ng-click="app.offsidebarOpen = !app.offsidebarOpen; logOut()">
                    <i class="menu-icon icon-logout bg-red"></i>
                    <div class="menu-info">
                        <h4 class="control-sidebar-subheading">Sair</h4>
                        <p>Clique aqui para sair do sistema</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>