<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <img alt="\" hspace="0" src="cid:imageId" align="baseline" border="0" style="height: 77px; width: 241px" />
    <br />
    <b><span style="font-family: Calibri; font-size: 11pt">MedNote - Plataforma</span></b>
    <br />
    <br />
    <table style="border: 0px; border-collapse:collapse;"> 
        <span style="font-family: Calibri; font-size: 11pt;">Prezado(a),</span><br /><br />
        <span style="font-family: Calibri; width: 141px">você solicitou a redefinição da sua senha de acesso.</span>
        <br />
        <span style="font-family: Calibri; width: 141px">Nova senha: $$NovaSenha$$.</span>
        <br /><br />
        <span style="font-family: Calibri; width: 141px">Caso não tenha solicitado, entre em contato com o administrador.</span>
    </table>
    <br />
    <br />
    <span style="font-family: Calibri; font-size: 12pt">Atenciosamente,</span>
    <br />
    <b><span style="font-family: Calibri; font-size: 12pt">MedNote - Plataforma</span></b>
</body>
</html>