<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<div style="background-color:#396DBD; height:60px;" >
    <img alt="\" hspace="0" src="cid:imageId"  align="baseline" border="0" style="height: 50px; width: 121px" />
</div>
    <br />
    <b><span style="font-family: Calibri; font-size: 11pt">MedNote - Plataforma</span></b>
    <br />
    <br />
    <table style="border: 0px; border-collapse:collapse;"> 
        <span style="font-family: Calibri; font-size: 11pt;">Prezado(a),</span><br />
        <span style="font-family: Calibri; width: 141px">O saldo do material '$$produto$$' atingiu o estoque mínino, favor verificar!</span>
        <br />
        <span style="font-family: Calibri; width: 141px">Código do Material = $$codigoative$$,  Estoque mínimo = $$estoquemin$$, Saldo do Material = $$saldo$$ </span>
        <br />
        <br />
       <!-- <span style="font-family: Calibri; width: 141px"><a href="$$Url$$" target="_blank">Clique aqui para acessar a aplicação</a></span>-->
    </table>
    <br />
    <br />
    <span style="font-family: Calibri; font-size: 12pt">Atenciosamente,</span>
    <br />
    <b><span style="font-family: Calibri; font-size: 12pt">MedNote - Plataforma</span></b>
</body>
</html>